<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sing-up.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
        <script src="../javascript/sing-up.js"></script>
        <title>Sing-Up</title>
    </head>
    <body>
        <header>
            <div class="top-nav">
                <img src="../assets/img/rocket-logo.png" alt="logo-radium">
                <h1>TRACKGENIX</h1>
                <img src="../assets/img/hamburguer-menu.png" alt="hamburguer-menu" class="hamburguer-menu">
            </div>
            <nav class="navegation-nav">
                <ul class="navegation-nav-list">
                    <li>
                        <a href="#">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Why Should You Use Trackgenix
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            History
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Support
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside>
            <form>
                <input type="search" class="trackgenix-search" name="trackgenix-search" placeholder="Search">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1945 5.4028C11.1945 3.63503 9.76145 2.20198
                    7.99368 2.20198C6.22594 2.20198 4.79285 3.63503 4.79285 5.4028C4.79285 7.17054  6.22594 8.60363
                    7.99368 8.60363C9.76145 8.60363 11.1945 7.17054 11.1945 5.4028ZM7.99368 0.601563C10.6453 0.601563
                    12.7949 2.75115 12.7949 5.4028C12.7949 8.05445 10.6453 10.204 7.99368 10.204C6.95677 10.204 5.9966
                    9.87532 5.21176 9.31638L2.15785 12.3703C1.84537 12.6828 1.33868 12.6828 1.0262 12.3703C0.713718
                    12.0578 0.713718 11.5511 1.0262 11.2386L4.08011 8.18472C3.52116 7.39988 3.19244 6.43971 3.19244
                    5.4028C3.19244 2.75115 5.34203 0.601563 7.99368 0.601563Z" fill="#373867"/>
                </svg>
            </form>
            <p>Menu</p>
            <div class="container-aside">
                <a href="index.html" class="aside-nav-item nav-item-border">Home</a>
                <a href="sing-up.html" class="aside-nav-item nav-item-border">SingUp</a>
                <a href="login.html" class="aside-nav-item nav-item-border">Login</a>
                <a href="#" class="aside-nav-item nav-item-border-none">Contact Information</a>
            </div>
            <img src="../assets/img/rocket-logo.png" alt="logo-radium" class="aside-logo-image">
            <p class="aside-logo-paragraph">Developed by GigaTech Software Solutions S.A.</p>
        </aside>
        <main>
            <section class="form-section">
                <form class="login-form">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" id="first-name">
                    <p id="name-error-paragraph">Insert valid name</p>
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" id="last-name">
                    <p id="lname-error-paragraph">Insert valid last name</p>
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" id="dni">
                    <p id="dni-error-paragraph">Insert valid DNI</p>
                    <label for="date-born">Date Born</label>
                    <input type="date" name="date-born" id="date-born">
                    <p id="born-error-paragraph">Insert valid born</p>
                    <label for="cellphone">Phone</label>
                    <input type="number" name="cellphone" id="cellphone">
                    <p id="cellphone-error-paragraph">Insert valid cellphone</p>
                    <label for="direction">Direction</label>
                    <input type="text" name="direction" id="direction">
                    <p id="direction-error-paragraph">Insert valid direction</p>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location">
                    <p id="location-error-paragraph">Insert valid location</p>
                    <label for="cp">CP</label>
                    <input type="number" name="cp" id="cp">
                    <p id="cp-error-paragraph">Insert valid CP</p>
                    <label for="text-email">Email</label>
                    <input type="text" name="text-email" id="text-email">
                    <p id="email-error-paragraph">Insert valid email</p>
                    <label for="input-user-password">Password</label>
                    <input type="password" name="input-user-password" id="input-user-password">
                    <p id="password-error-paragraph">Insert valid password</p>
                    <label for="input-repeat-password">Repeat Password</label>
                    <input type="password" name="input-repeat-password" id="input-repeat-password">
                    <p id="repeat-error-paragraph">Repeat password correctly</p>
                    <input type="button" value="Sing-Up">
                </form>
            </section>
        </main>
        <footer>
            <div>
                <div class="media-social-items">
                    <img src="../assets/img/facebook-logo.png" alt="facebook-logo">
                    <img src="../assets/img/twitter-logo.png" alt="twitter-logo">
                    <img src="../assets/img/instagram-logo.png" alt="instagram-logo">
                    <img src="../assets/img/linkedin-logo.png" alt="linkedin-logo">
                </div>
                <div class="localitation-info-container">
                    <p>
                        Rosario, Argentina
                    </p>
                    <p>
                        Copyright © 2022 Radium Rocket. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>