* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
}

html, body{
    overflow-x: hidden;
}

#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 1512px;
    height: 91px;
    background-color: #373867;
    z-index: 999;
}

.header-logo {
    position: relative;
    float: left;
    top: 10px;
    left: 20px;
}

#header-principal-title {
    position: fixed;
    top: 32px;
    left: 570px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 60px;
    color: #46A07B;
}

.header-burger-icon {
    position: relative;
    float: right;
    right: 26px;
    top: 30px;
}

.navegation-nav {
    display: inline-block;
    position: fixed;
    top: 90px;
    left: 253px;
    width: 1257px;
    height: 55px;
    background-color: #373867;
    z-index: 1;
}

.navegation-nav-list li button {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 212px;
    height: 50px;
    background-color: #373867;
    margin: -3px;
}

.navegation-nav-list li button > a {
    color: #46A07B;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
}

.navigation-iten {
    display: inline-block;
}

.button-nav {
    border-top: none;
}

aside {
    position: fixed;
    top: 87px;
    left: 0;
    width: 253px;
    height: 950px;
    background-color: rgb(230, 230, 230);
    z-index: 999;
    text-align: center;
    border: 1px solid black;
}

aside .trackgenix-search {
    display: inline;
    position: relative;
    top: 8px;
    width: 235px;
    height: 40px;
}

aside form svg {
    position: relative;
    bottom: 17px;
    left: 100px;
}

.aside-menu-paragraph {
    display: block;
    position: relative;
    top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #373867;
}

.aside-nav-item {
    display: block;
    position: relative;
    top: 40px;
    left: 1px;
    padding: 25px 20px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0px 30px;
    color: #479679;
}

.nav-item-border {
    border-bottom: 1px solid black;
    width: 190px;
    text-align: center;
}

.aside-logo-image {
    display: block;
    position: relative;
    top: 250px;
    left: 95px;
}

.aside-logo-paragraph {
    display: block;
    position: relative;
    top: 270px;
    font-size: 12px;
}

#welcome-section {
    display: block;
    width: 1259px;
    height: 750px;
    position: relative;
    top: 141px;
    left: 254px;
    border-bottom: 1px solid black;
    background: linear-gradient(360deg, rgba(244, 249, 247, 0.12) 22.92%, rgba(209, 227, 229, 0.45) 59.37%, #E5F2F4
    86.41%);
    filter: blur(0.5px);
}

.welcome-section-title {
    display: inline;
    position: relative;
    left: 475px;
    bottom: 122px;
    font-size: 50px;
    color: #2d2d53;
    background-color: #aace9b8e;
    padding: 10px 40px 17px;
    border-radius: 20px;
    border: 2px solid black;
    filter: blur(1px);
}

.welcome-section-paragraph {
    display: inline-block;
    position: relative;
    top: 310px;
    right: 235px;
    width: 531px;
    height: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
}

.welcome-section-image {
    display: inline;
    position: relative;
    float: right;
    right: 80px;
}

.app-features-section {
    display: block;
    width: 1259px;
    height: 1200px;
    position: relative;
    top: 141px;
    left: 253px;
    border-bottom: 1px solid black;
}

.app-features-section-title {
    display: block;
    position: relative;
    top: 190px;
    left: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
}

.hour-log-title {
    display: inline;
    position: relative;
    top: 32px;
    left: 300px;
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
}

.reports-title {
    display: inline;
    position: relative;
    left: 875px;
    bottom: 195px;
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
}

.resource-management-title {
    display: inline;
    position: relative;
    bottom: 100px;
    left: 210px;
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
}

.multiple-roles-title {
    display: inline;
    position: relative;
    bottom: 327px;
    left: 830px;
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
}

.hours-log-image {
    display: inline;
    position: relative;
    top: 300px;
    left: 100px;
    background-color: #aace9b6b;
    border-radius: 10px;
    padding: 5px;
}

.reports-image {
    display: inline;
    position: relative;
    left: 700px;
    top: 60px;
    background-color: #aace9b6b;
    border-radius: 10px;
    padding: 5px;
}

.resource-management-image {
    display: inline;
    position: relative;
    top: 165px;
    right: 80px;
    background-color: #aace9b6b;
    border-radius: 10px;
    padding: 5px;
}

.multiple-roles-image {
    display: inline;
    position: relative;
    left: 600px;
    bottom: 75px;
    background-color: #aace9b6b;
    border-radius: 10px;
    padding: 15px;
}

.reasons-section {
    display: block;
    width: 1259px;
    height: 1259px;
    position: relative;
    top: 141px;
    left: 254px;
    border-bottom: 1px solid black;
}

.reason-article {
    display: block;
    position: relative;
    width: 300px;
    height: 200px;
    text-align: center;
}

.reason-title {
    display: block;
    position: relative;
    top: 165px;
    left: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
}

.productivity-booster-title {
    display: inline-block;
    position: relative;
    top: 215px;
    left: 120px;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

.container-rotate-p-booster {
    display: inline-block;
    position: relative;
    top: 360px;
    left: 100px;
    background-color: #aace9b6b;
    transform: rotate(45deg);
    padding: 10px;
}

.productivity-booster-image {
    display: inline-block;
    position: relative;
    transform: rotate(315deg);
}

.productivity-booster-paragraph {
    display: inline-block;
    position: relative;
    width: 235px;
    top: 335px;
    right: 150px;
    font-size: 20px;
    font-weight: 400;
}

.work-traceability-title {
    display: inline-block;
    position: relative;
    top: 90px;
    left: 700px;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

.container-rotate-w-traceability {
    display: inline-block;
    position: relative;
    top: 230px;
    left: 685px;
    padding: 20px;
    background-color: #aace9b6b;
    transform: rotate(45deg);
}

.work-traceability-image {
    display: inline-block;
    position: relative;
    left: 5px;
    bottom: 10px;
    transform: rotate(315deg);
}

.work-traceability-paragraph {
    display: inline-block;
    position: relative;
    width: 266px;
    top: 200px;
    left: 470px;
    font-size: 20px;
    font-weight: 400;
}

.leadership-management-title {
    display: inline-block;
    position: relative;
    top: 260px;
    left: 140px;
    width: 275px;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

.container-rotate-l-management {
    display: inline-block;
    position: relative;
    top: 370px;
    left: 100px;
    padding: 15px;
    background-color: #aace9b6b;
    transform: rotate(45deg);
}

.leadership-and-team-management-image {
    display: inline-block;
    position: relative;
    transform: rotate(315deg);
    bottom: 10px;
    right: 10px;
}

.leadership-management-paragraph {
    display: inline-block;
    position: relative;
    width: 348px;
    top: 430px;
    right: 125px;
    font-size: 20px;
    font-weight: 400;
}

.decision-making-title {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 700px;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

.container-rotate-d-making {
    display: inline-block;
    position: relative;
    top: 220px;
    left: 685px;
    background-color: #aace9b6b;
    transform: rotate(45deg);
}

.decision-making-image {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;
    padding: 10px;
    transform: rotate(315deg);
}

.decision-making-paragraph {
    display: inline-block;
    position: relative;
    width: 210px;
    top: 171px;
    left: 480px;
    font-size: 20px;
    font-weight: 400;
}

.form-section {
    display: block;
    width: 1090px;
    height: 900px;
    position: relative;
    top: 141px;
    left: 355px;
    border-bottom: 1px solid black;
}

.inscription-form-title {
    display: inline-block;
    position: relative;
    top: 35px;
    right: 30px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

#first-name {
    display: inline-block;
    position: relative;
    top: 83px;
    right: 35px;
    width: 540px;
    padding: 5px;
}

#email {
    display: inline-block;
    position: relative;
    top: 83px;
    left: 9px;
    width: 540px;
    padding: 5px;
}

#contact-area {
    display: inline-block;
    position: relative;
    top: 100px;
    right: 34px;
    width: 1125px;
    padding: 5px;
}

.checkbox-email {
    display: inline-block;
    position: relative;
    top: 250px;
    right: 35px;
}

.checkbox-terms-of-service {
    display: inline-block;
    position: relative;
    top: 250px;
    left: 540px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #373867;
}
input:focus+.slider {
    box-shadow: 0 0 1px #373867;
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.label-text-area {
    display: block;
    position: relative;
    top: 290px;
    right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'OpenSans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#message {
    display: inline-block;
    position: relative;
    top: 300px;
    right: 40px;
    border: 1px solid black;
}

.submit-button {
    position: relative;
    top: 310px;
    left: 430px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #46A07B;
    border: 0px;
    border-radius: 15px;
    color: #FFFFFF;
}

.mission-section {
    display: block;
    width: 1259px;
    height: 665px;
    position: relative;
    top: 141px;
    left: 254px;
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.5135) 1.57%, rgba(88, 151, 159, 0.2212) 19.27%, rgba(71, 147, 129, 0.1343) 35.94%, rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}

.mission-principal-title {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}

.mission-secondary-title {
    display: inline-block;
    position: relative;
    top: 40px;
    right: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #373867;
}

.mission-third-title {
    display: inline-block;
    position: relative;
    top: 215px;
    left: 60px;
    font-size: 27px;
    font-weight: 600;
    color: #373867;
}

.quote {
    display: inline-block;
    position: relative;
    top: 240px;
    left: 45px;
    width: 1150px;
    height: 70px;
    padding: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    font-style: italic;
}

.quote-customer-paragraph {
    display: inline-block;
    position: relative;
    top: 215px;
    float: right;
    right: 104px;
    font-style: italic;
}

.mission-logo {
    display: inline-block;
    position: relative;
    width: 112px;
    top: 5px;
    left: 1000px;
}

.green-underline {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 5px;
    border-bottom: 3px solid #8FD5C8;
}

.blue-underline {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 5px;
    border-bottom: 3px solid #2d2d53;
}

.mission-first-paragraph {
    display: inline-block;
    position: relative;
    top: 84px;
    left: 250px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.mission-secondary-paragraph {
    display: inline-block;
    position: relative;
    top: 120px;
    left: 100px;
    width: 1050px;
    text-align: center;
}

.mission-third-paragraph {
    display: inline-block;
    position: relative;
    top: 120px;
    left: 100px;
    width: 1050px;
    text-align: center;
}

.mission-fourth-paragraph {
    display: inline-block;
    position: relative;
    top: 120px;
    left: 100px;
    width: 1050px;
    text-align: center;
}

.about-us-section {
    display: block;
    width: 1259px;
    height: 488px;
    position: relative;
    top: 141px;
    left: 254px;
    border-bottom: 1px solid black;
}

.about-us-title {
    display: inline-block;
    position: relative;
    float: left;
    top: 50px;
    left: 80px;
    font-size: 22px;
    font-weight: bold;
    color: #373867;
}

.about-us-first-paragraph {
    display: inline-block;
    position: relative;
    float: left;
    width: 550px;
    top: 115px;
    right: 35px;
    color: #373867;
}

.about-us-second-paragraph {
    display: inline-block;
    position: relative;
    float: left;
    width: 590px;
    top: 198px;
    right: 585px;
}

.about-us-image {
    display: inline-block;
    position: relative;
    float: right;
    right: 35px;
    width: 420px;
}

.our-products-section {
    display: block;
    width: 1090px;
    height: 1430px;
    position: relative;
    top: 141px;
    left: 355px;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.our-products-title {
    display: inline-block;
    position: relative;
    bottom: 375px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.container-titles-our-product {
    font-size: 23px;
    width: 310px;
    font-weight: bold;
    margin-top: 10px;
}

.container-paragraphs-our-product {
    display: inline-block;
    position: relative;
    font-size: 20px;
    width: 360px;
    padding: 25px 0px;
}

.list-our-product-section li {
    margin-left: 50px;
}

.list-our-product-section {
    list-style-type: disc;
}

.time-control-article {
    display: inline-block;
    position: relative;
    top: 225px;
    right: 150px;
}

.customized-working-article {
    display: inline-block;
    position: relative;
    top: 230px;
    left: 100px;
}

.intuitive-control-article {
    display: inline-block;
    position: relative;
    top: 275px;
    left: 40px;
}

.project-management-article {
    display: inline-block;
    position: relative;
    top: 220px;
    left: 300px;
}

.company-section {
    display: block;
    width: 1090px;
    height: 1300px;
    position: relative;
    top: 141px;
    left: 355px;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.company-title {
    position: relative;
    top: 35px;
    height: 135px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.name-company-title {
    display: inline-block;
    position: relative;
    float: right;
    right: 90px;
    top: 20px;
    font-size: 26px;
    font-weight: 700;
}

.name-company-paragraph {
    display: inline-block;
    width: 465px;
    position: relative;
    float: right;
    bottom: 235px;
    right: 100px;
    font-size: 21px;
}

.container-workplace-article {
    height: 430px;
}

.workplace-company-title {
    display: inline-block;
    position: relative;
    float: right;
    right: 30px;
    top: 115px;
    font-size: 26px;
    font-weight: 700;
}

.workplace-company-paragraph {
    display: inline-block;
    width: 525px;
    position: relative;
    float: left;
    top: 150px;
    left: 70px;
    font-size: 21px;
    text-align: right;
    margin-right: 85px;
}

.slogan-company-title {
    display: inline-block;
    position: relative;
    float: right;
    right: 295px;
    top: 30px;
    font-size: 26px;
    font-weight: 700;
}

.slogan-company-paragraph {
    display: inline-block;
    width: 465px;
    position: relative;
    float: right;
    bottom: 200px;
    right: 150px;
    font-size: 21px;
}

.support-section {
    display: block;
    width: 1090px;
    height: 700px;
    position: relative;
    top: 141px;
    left: 355px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.support-title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: 115px;
    right: 35px;
}

.developer-image {
    display: inline-block;
    position: relative;
    float: left;
    top: 200px;
    right: 35px;
}

.developer-paragraph {
    display: inline-block;
    position: relative;
    top: 510px;
    right: 435px;
    width: 285px;
    text-align: center;
}

.support-image {
    display: inline-block;
    position: relative;
    top: 165px;
    left: 125px;
}

.support-paragraph {
    display: inline-block;
    position: relative;
    top: 180px;
    left: 750px;
}

.tutorials-section {
    display: block;
    width: 1090px;
    height: 500px;
    position: relative;
    top: 141px;
    left: 355px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.tutorial-title {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 75px;
    font-size: 34px;
    font-style: italic;
    font-weight: bold;
}

.time-duration-container {
    display: inline-block;
    position: relative;
    float: right;
    bottom: 95px;
    right: 50px;
}

.yt-button {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 300px;
    width: 480px;
    height: 116px;
    background-color: #98220D;
    box-shadow: 0px 4px 2px rgb(0 0 0 / 25%);
    filter: blur(0.2px);
    border-radius: 30px;
}

.text-button-container {
    position: absolute;
    bottom: 35px;
    left: 25px;
    width: 423px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
}

footer {
    display: block;
    width: 1090px;
    height: 300px;
    position: relative;
    top: 141px;
    left: 330px;
    text-align: center;
}

.ordered-list li {
    list-style-type: decimal;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

.time-duration-container > p {
    position: relative;
    bottom: 60px;
    list-style-type: decimal;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.media-social-items {
    background-color: #373867;
    width: 1242px;
    position: relative;
    right: 77px;
}

.media-social-items > img {
    margin: 5px 15px;
    padding: 10px 10px 10px 40px;
}

.localitation-info-container > p {
    display: block;
    position: relative;
    top: 50px;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}